fastapi
uvicorn
gradio
langchain
langchain-openai
langchain-huggingface
langchain-community
langgraph
chromadb
beautifulsoup4
networkx
sentence-transformers
tqdm
pydantic
python-dotenv
pyyaml
datasets
rank_bm25
pandas
huggingface-hub
requests
